.btn{
  /* border: 1px solid #5f2cdf; */
  border: none;
  background-color: #5f2cdf;
  padding: 12px;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
.closePopup{
  /* border: 1px solid orange; */
  border: none;
  background-color: #5f2cdf;
  padding: 12px;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}